.flip__card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

.flip__card.is__flipped {
  transform: rotateY(180deg);
}
